@using DotNet_GoeBezig_G11.Models.Domein
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Meldingen";
}

<h2>@ViewData["Title"].</h2>
<div class="list-group">
    
    @{
        foreach (Melding item in ViewBag.Meldingen)
        {
            <a asp-controller="BeherenGroep" asp-action="Index" class="list-group-item">@item.Inhoud: @item.GroepNaam</a>
        }

    }

</div>
