@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul class="nav  col-md-12">
    <li class=""><a asp-controller="BeherenGroep" asp-action="Index">Overzicht</a></li>
    <li><a asp-controller="Motivatie" asp-action="Index">Motivatie</a></li>
    <li><a asp-controller="Actie" asp-action="Index">Acties</a></li>
    <li><a asp-controller="BeherenGroep" asp-action="ToonLeden">Leden</a></li>
    

</ul>
