@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-md-12 container">
    <h4>Voor u acties kan maken moet u een goedgekeurde motivatie hebben, Ga naar de motivatie pagina!</h4>
</div>
