@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>

</head>
<body>
<h1>Welkom</h1>
    <h4>Dit platform is gemaakt voor cursisten te begeleiden in het uitdelen van het goedbezig label</h4>


</body>
</html>
